#APP {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}
.FLEX {
    display: flex;
    align-items: center;
    justify-content: center;
}
.BGGRAY {
    background-color: #14181e;
    /* background-color: rgb(23, 22, 22); */
}
.BG_BLACK {
    background-color: #0d1117;
}
.HEIGHT30{
    height: 27%;
}
.H10 {
    height: 10%;
}
.H90 {
    height: 90%;
}
.MIN-85 {
    min-width: 85%;
}