#APP {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}
.FLEX {
    display: flex;
    align-items: center;
    justify-content: center;
}
.BGGRAY {
    background-color: #14181e;
}
.BG_BLACK {
    background-color: #0d1117;
}
.HEIGHT30{
    height: 27%;
}
.H10 {
    height: 10%;
}
.H90 {
    height: 90%;
}
.MIN-85 {
    min-width: 85%;
}
.label-class {
    @apply block text-sm font-medium text-gray-600
}
.input-class {
    @apply mt-1 p-2 w-full border rounded-md placeholder:text-slate-300
}